.home {
  background-color: $color-grey-blue-light;

  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: [full-start] 2rem [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 2rem [full-end];
}

.heading-primary{
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;

  &--leter {
    color: $color-secondary;
  }

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  }

  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
  }
}

.heading-secondary {
  color: $color-primary-dark;
  text-transform: uppercase;

  font-size: 5rem;
  letter-spacing: 2rem;

  &__underline {
    width: 100%;
    height: .3rem;
    background-color: $color-secondary;
  }

  @include respond(tab-port) {
    font-size: 3.7rem;
  }
}

.u-center-text {
  text-align: center !important;
}