// COLOR VARIABLES
$color-primary: #00008B;
$color-primary-light: #000080;
$color-primary-dark: #000039;

$color-secondary: #e94052;

$color-grey-slate-1: #708090;
$color-grey-slate-2: #778899;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-1: #F8F8FF;

$color-black: #000;

// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-display: 'Roboto', sans-serif;
