// COLOR VARIABLES
$color-primary: #3F3F3F;
$color-primary-light: #707070;
$color-primary-dark: #202020;

$color-secondary: #FFDF6C;

$color-grey-blue-dark: #203647;
$color-grey-blue-light: #EEFBFB;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #FFFFFF;
$color-white-1: #F8F8FF;

$color-black: #000;

// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-display: 'Roboto', sans-serif;
