.card {
  background-color: orange;
  height: 60rem;
  width: 50rem;
  margin: 5rem auto;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
  transition: transform .3s;

  &__heading {
    text-align: center;
    margin: 4rem 0 2rem;
    font-size: 2.8rem;
    font-weight: 300;
  }

  &__underline {
    width: 80%;
    height: .12rem;
    background-color: $color-secondary;
    margin: 0 auto;
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }

    li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-dark-1;
      }
    }
  }

  &:hover {
    // transform: translateY(-1.5rem) scale(1.03);
    transform: translateY(-1.5rem) scale(1.03);
  }
}