.card {
  background-color: rgba($color-white, .97);
  color: $color-primary-dark;
  height: 45rem;
  width: 30rem;
  margin: 0 auto 5rem;
  border-radius: .6rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
  transition: transform .6s;
  font-size: 1.2rem;

  &__heading {
    text-align: center;
    margin: 4rem 0 2rem;
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__underline {
    width: 80%;
    height: .18rem;
    background-color: $color-secondary;
    margin: 0 auto;
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }

    li {
      text-align: center;
      margin: 0 auto;
      font-size: 1.5rem;
      padding: 1rem;
      width: 75%;

      &:not(:last-child) {
        border-bottom: 1px solid $color-secondary;
      }
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}