.experience {
  grid-column: full-start / full-end;
  background-color: $color-primary-dark;
  color: $color-primary-dark;
  font-size: 2rem;

  display: grid;
  grid-template-columns: 12rem 1fr 12rem;
  grid-template-rows: 1fr repeat(3, 30vw) 3rem;
  grid-gap: 6rem;

  // align-items: center;
  // justify-items: center;
  // justify-content: end;

  &__item {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 15rem repeat(4, min-content) .6rem;
    grid-gap: .3rem;

    background: $color-white;
    grid-column: 2 / 3;
    border-radius: .6rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
    padding-left: .5rem;
  }

  &__title {
    padding-top: 1.5rem;
    text-transform: uppercase;
    grid-column: 2 / 3;
    align-self: end;

    h4 {
      font-size: 3rem;
      font-weight: 100;
    }

    .company {
      background-color: $color-primary-light;
      border-radius: .5rem;
      display: inline-block;
      padding: .1rem .6rem;
    }
  }

  &__description {
    display: flex;
    grid-column: 2 / 3;
    align-self: center;
    align-items: center;
  }

  &__icon {
    color: $color-secondary;
    margin-right: .5rem;
    // transform: translateY(.6rem);
  }

  &__heading {
    margin-top: 5rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
  }
}