.hero {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: 1fr 5rem;
  justify-content: center;
  background-image: linear-gradient(rgba($color-primary-dark, .97), rgba($color-primary-dark, .97)), url(../images/jackson-so-_t-l5FFH8VA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: $color-secondary;

  &__text-box {
    align-self: center;
  }
}

.social {
  align-self: start;
  transform: translateY(-15rem);

  @include respond(tab-port) {
    transform: translateY(-12rem);
  }

  &__links {
    display: flex;
    list-style-type: none;
  }

  &__link {
    margin-right: 1.5rem;
    color: $color-secondary;
    transition: transform .4s;

    &:hover {
      transform: translateY(-.4rem) scale(1.03);
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    color: $color-secondary;
  }
}