*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5%
}

body {
  // font-family: $font-primary;
  font-family: 'Roboto';
  color: rgba($color-black, .7);
  font-weight: 300;
  line-height: 1.6;
}

.main {
  // background-color: $color-primary-dark;
}

.container {
  display: grid;
  grid-template-rows: min-content 10rem;
  grid-template-columns: 1fr;
  // margin: 2rem;
}