.navbar {
  color: $color-white;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 10rem;

  ul {
    list-style: none;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 10rem;
  }

  &__link {
    &:visited,
    &:link {
      text-decoration: none;
      color: $color-white;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  &__item {
    margin: 2.5rem;
    font-size: 22.5px;
    letter-spacing: .5rem;
    border-bottom: 1px solid $color-white;
    cursor: pointer;
    transition: all .4s;

    &:hover {
      transform: translateY(-.4rem) scale(1.03);
      color: $color-secondary;
      border-bottom: 1px solid $color-secondary;
    }
  }
}