.services {
  grid-column: center-start / center-end;
  background-color: $color-white;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr min-content;
  grid-gap: 6rem;
  align-items: center;
  justify-items: center;
  justify-content: end;

  &__heading {
    margin-top: 5rem;
    grid-column: 1 / -1;
  }
}