.services {
  grid-column: center-start / center-end;
  background-color: $color-white;

  display: grid;
  grid-template-columns: repeat(3, minmax(35rem, 1fr));
  grid-template-rows: 1fr min-content;
  align-items: center;
  justify-items: center;
  justify-content: end;

  @include respond(tab-land) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }

  &__heading {
    margin-top: 5rem;
    grid-column: 1 / -1;
    margin-bottom: 5rem;
  }
}